@{
    ViewData["Title"] = "About";
}

<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-5 align-items-center">
            <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s">
                <img class="img-fluid w-100 rounded" src="~/img/about-1.jpg">
            </div>
            <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
                <h1 class="mb-4">Empowering Your Career Journey</h1>
                <p class="mb-4">Connecting professionals with exceptional job opportunities</p>
                <p><i class="fas fa-user-check text-primary me-3"></i> More than 1,000 successful hires annually</p>
                <p><i class="fas fa-bullhorn text-primary me-3"></i> Hundreds of new job listings every week</p>
                <p><i class="fas fa-handshake text-primary me-3"></i> Strong collaborations with top-tier companies</p>
                <a class="btn btn-success py-3 px-5 mt-3" href="#">Discover More</a>
            </div>
        </div>
    </div>
</div>
