@{
    ViewData["Title"] = "Testimonials";
}

<div class="container-xxl py-5 wow fadeInUp" data-wow-delay="0.1s">
    <div class="container">
        <h1 class="text-center mb-5">
            <i class="fa fa-star text-warning"></i>  Our Clients’ Experiences & Testimonials <i class="fa fa-star text-warning"></i>
        </h1>
        <div class="owl-carousel testimonial-carousel">
            <div class="testimonial-item bg-light rounded p-4">
                <i class="fa fa-quote-left fa-2x text-primary mb-3"></i>
                <p>"This platform exceeded my expectations! The user experience is seamless, and the features are exactly what I needed for my business."</p>
                <div class="d-flex align-items-center">
                    <img class="img-fluid flex-shrink-0 rounded-circle border border-primary" src="~/img/testimonial-1.jpg" style="width: 50px; height: 50px;">
                    <div class="ps-3">
                        <h5 class="mb-1"><i class="fa fa-user text-primary"></i> Sophie Martin</h5>
                        <small><i class="fa fa-briefcase text-secondary"></i> Marketing Manager</small>
                    </div>
                </div>
            </div>
            <div class="testimonial-item bg-light rounded p-4">
                <i class="fa fa-quote-left fa-2x text-primary mb-3"></i>
                <p>"I’ve worked with many solutions before, but this one stands out. The customer support is top-notch, and I highly recommend it."</p>
                <div class="d-flex align-items-center">
                    <img class="img-fluid flex-shrink-0 rounded-circle border border-primary" src="~/img/testimonial-2.jpg" style="width: 50px; height: 50px;">
                    <div class="ps-3">
                        <h5 class="mb-1"><i class="fa fa-user text-primary"></i> Omar Bennani</h5>
                        <small><i class="fa fa-briefcase text-secondary"></i> Software Engineer</small>
                    </div>
                </div>
            </div>
            <div class="testimonial-item bg-light rounded p-4">
                <i class="fa fa-quote-left fa-2x text-primary mb-3"></i>
                <p>"As a freelancer, I needed something easy to use but powerful. This solution has completely transformed the way I manage my work."</p>
                <div class="d-flex align-items-center">
                    <img class="img-fluid flex-shrink-0 rounded-circle border border-primary" src="~/img/testimonial-3.jpg" style="width: 50px; height: 50px;">
                    <div class="ps-3">
                        <h5 class="mb-1"><i class="fa fa-user text-primary"></i> Antonio Ramirez</h5>
                        <small><i class="fa fa-briefcase text-secondary"></i> Freelance Graphic Designer</small>
                    </div>
                </div>
            </div>
            <div class="testimonial-item bg-light rounded p-4">
                <i class="fa fa-quote-left fa-2x text-primary mb-3"></i>
                <p>"The platform is intuitive and reliable. It has made my workflow more efficient and helped my team stay organized!"</p>
                <div class="d-flex align-items-center">
                    <img class="img-fluid flex-shrink-0 rounded-circle border border-primary" src="~/img/testimonial-4.jpg" style="width: 50px; height: 50px;">
                    <div class="ps-3">
                        <h5 class="mb-1"><i class="fa fa-user text-primary"></i> Elena Rodriguez</h5>
                        <small><i class="fa fa-briefcase text-secondary"></i> Project Manager</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
