@{
    ViewData["Title"] = "Categories";
}

<div class="container-xxl py-5">
    <div class="container">
        <h1 class="text-center mb-5 wow fadeInUp text-success" data-wow-delay="0.1s">Search by Category</h1>
        <div class="row g-4">
            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.1s">
                <a class="cat-item rounded p-4 text-center text-decoration-none" asp-controller="Offre" asp-action="Categories">
                    <i class="fa fa-3x fa-mail-bulk text-success mb-3"></i>
                    <h6 class="mb-2 text-dark">Marketing</h6>
                    <p class="mb-0 text-dark">15 job openings</p>
                </a>
            </div>
            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.3s">
                <a class="cat-item rounded p-4 text-center text-decoration-none" href="">
                    <i class="fa fa-3x fa-headset text-success mb-3"></i>
                    <h6 class="mb-2 text-dark">Customer Service</h6>
                    <p class="mb-0 text-dark">100 job openings</p>
                </a>
            </div>
            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.5s">
                <a class="cat-item rounded p-4 text-center text-decoration-none" href="">
                    <i class="fa fa-3x fa-user-tie text-success mb-3"></i>
                    <h6 class="mb-2 text-dark">Human Resource</h6>
                    <p class="mb-0 text-dark">70 job openings</p>
                </a>
            </div>
            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.7s">
                <a class="cat-item rounded p-4 text-center text-decoration-none" href="">
                    <i class="fa fa-3x fa-tasks text-success mb-3"></i>
                    <h6 class="mb-2 text-dark">Project Management</h6>
                    <p class="mb-0 text-dark">24 job openings</p>
                </a>
            </div>
            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.1s">
                <a class="cat-item rounded p-4 text-center text-decoration-none" href="">
                    <i class="fa fa-3x fa-chart-line text-success mb-3"></i>
                    <h6 class="mb-2 text-dark">Business Development</h6>
                    <p class="mb-0 text-dark">13 job openings</p>
                </a>
            </div>
            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.3s">
                <a class="cat-item rounded p-4 text-center text-decoration-none" href="">
                    <i class="fa fa-3x fa-hands-helping text-success mb-3"></i>
                    <h6 class="mb-2 text-dark">Sales & Communication</h6>
                    <p class="mb-0 text-dark">13 job openings</p>
                </a>
            </div>
            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.5s">
                <a class="cat-item rounded p-4 text-center text-decoration-none" href="">
                    <i class="fa fa-3x fa-book-reader text-success mb-3"></i>
                    <h6 class="mb-2 text-dark">Teaching & Education</h6>
                    <p class="mb-0 text-dark">43 job openings</p>
                </a>
            </div>
            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.7s">
                <a class="cat-item rounded p-4 text-center text-decoration-none" href="">
                    <i class="fa fa-3x fa-drafting-compass text-success mb-3"></i>
                    <h6 class="mb-2 text-dark">Design & Creative</h6>
                    <p class="mb-0 text-dark">25 job openings</p>
                </a>
            </div>
        </div>
    </div>
</div>
